/* 
 * Sliding Tabs - jQuery Plugin
 * Copyright 2011, Christian André
 *
 * CHANGING THE WIDTH: To change the width of the tabs layout see line 14 and 142.
 *
------------------------------------------------------------------------------------- */

div.st_vertical { /* The main container */
	position:relative;
	z-index:0; 
	float:left;
	clear:both;
/*	width:775px; /* STEP 1: Changing the tabs width - Set the full width of the tabs */
	color:#616161;
}

/* Control buttons
------------------------------------------------------------------------------------- */
div.st_vertical a.st_prev, 
div.st_vertical a.st_next { /* Directional buttons (previous/next) */	
	display:none;
	float:left;
	position:relative;
	z-index:0;	
	height:36px;
	width:83px;
	border:1px solid #d4d4d4;
	border-top:0 none;
	outline:none;	
	
}

div.st_vertical a.st_prev { /* Previous button */
	border-right:0 none;
	background-position:35px -47px;
}

div.st_vertical a.st_prev:hover { /* Previous button hover */
	background-position:-28px -47px;
	background-color:#f5f5f5;
}

div.st_vertical a.st_next { /* Next button */
	background-position:34px -79px;
}

div.st_vertical a.st_next:hover { /* Next button hover */
	background-position:-29px -79px;
	background-color:#f5f5f5;
}

div.st_vertical a.st_prev.st_btn_disabled,
div.st_vertical a.st_next.st_btn_disabled { /* Previous and next buttons disabled state */
	cursor:default;
	background-color:#f7f7f7;
}

div.st_vertical a.st_prev.st_btn_disabled { /* Previous button disabled state */
	background-position:-91px -47px;
}

div.st_vertical a.st_next.st_btn_disabled { /* Next button disabled state */
	background-position:-92px -79px;
}

/* Tabs
------------------------------------------------------------------------------------- */
div.st_vertical div.st_tabs_container { /* Tabs main container */  	
	position:relative;
	z-index:100;
	float:left;
	width:169px; /* +1px for the negative right margin */
	height:500px;
	margin-right:-1px;
	border-top:1px solid #d4d4d4;
	overflow:scroll;
}

div.st_vertical div.st_slide_container { /* Tabs slide-container */
	position:relative !important; /* The tabs position will be calculated from ul.tabs first parent element with position:relative */
	float:left;
	clear:both;
}

div.st_vertical ul.st_tabs { /* Tabs unordered list */
	float:left;
	width:168px;	
	margin:0px;
	padding:0px;
	list-style:none;
	margin-top:0px !important;
}

div.st_vertical ul.st_tabs li { /* Tab list elements */
	float:left;
	clear:both;
}

div.st_vertical ul.st_tabs li a { /* Tab links */
	display:block;
	width:147px;
/*	height:31px;*/
	margin:0px;
	padding:14px 0 14px 20px;
	font-size:12px;
	color:#5c5c5c;
	font-weight:bold;
	line-height:normal;
	text-decoration:none;
	outline:none;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;		
}

div.st_vertical ul.st_tabs li a span {
	display:block;
	clear:both;
	font-weight:normal;
	color:#838383;
	padding-top:3px;
}

div.st_vertical ul.st_tabs a:hover { /* Tabs hover state */
	color:#333;
}

div.st_vertical ul.st_tabs a.st_tab_active { /* Tab active/highlighted state */
	position:relative;
	z-index:10;
	color:#1ca5ec;
	padding-right:1px;
	background:#fff;
}

div.st_vertical ul li {
	margin:0px;
	padding:0px;
	list-style-type:none;
}

/* Content
------------------------------------------------------------------------------------- */
div.st_vertical div.st_view_container { /* Main content container */
	position:relative;
	z-index:5;
	float:left;	
	width:565px; /* STEP 2 (final): Changing the tabs width - The full width (775px) -minus padding (40px), border-left (1px) and div.st_tabs_container's width (169px) */
	height:500px;
	padding:20px; /* Set the padding for the content here */
	line-height:18px;
	border:1px solid #d4d4d4;
	background-color:#fff;
	overflow-x:hidden;
	overflow-y:auto; /* To make the content scroll if Javascript is disabled, set to: auto */
}

div.st_vertical div.st_view { /* Slide-container for the content */
	position:relative;	
	height:100%;
}

div.st_vertical div.st_tab_view { /* Individual content containers */	
	width:100%;	
	margin-bottom:20px;
	padding-bottom:5px;
	background-color:#fff;
}

div.st_vertical div.st_view h2 {	
	font-size:16px;
	color:#454545;
	margin:0 0 16px;
	padding:0px;
}

div.st_vertical div.st_view p {	
/*	margin:14px 0 0;*/
	padding:0px;
}

div.st_vertical div.st_view blockquote {
	float:left;
	width:43%;
	margin:18px 14px 0 0;
	padding:0 0 0 14px;
	border-left:2px solid #5c5c5c;
	font:italic 17px/21px Georgia, "Times New Roman", Times, serif;
	color:#A8A8A8;
}

div.st_vertical div.st_view blockquote p {
	margin:0px;
}

/* Right aligned tabs
------------------------------------------------------------------------------------- */
div.st_vertical.align_right div.st_tabs_container { /* Tabs main container */  	
	float:right;
	margin-left:-1px;
	margin-right:0px;
}

div.st_vertical.align_right ul.st_tabs li a { /* Tab links */
	border-right:1px solid #d4d4d4;
}

div.st_vertical.align_right ul.st_tabs a.st_tab_active { /* Tab active/highlighted state */
	padding-right:0px;
	border-left-color:#ffffff;
}